---
// import the layout and components
import BaseLayout from '../layouts/BaseLayout.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Card from '../components/Card.astro';
// Import Stylesheet
import '../styles/global.css';

// data source
// replace temporary JSON placeholder API
const source = 'https://assets.codepen.io/16425/jelly-belly-beans.json';
// fetch the data
const res = await fetch(source); 
// store retreived data

import { Flavor } from "../env";

const flavors = await res.json();


const title = "Jelly Belly Flavors";
---

<BaseLayout title={title}>
<Header title={title} />

<section id="content" class="wrapper">
	<ul class="grid">
		{
			flavors.map((flavor:Flavor) =>
				<Card flavor={flavor} />
			)
		}
  
	</ul>
  </section>

  <Footer />
</BaseLayout>
